/* 1. Colorează linkurile Google în verde */
a[href^="https://www.google.com"] {
    color: green;
}

/* 2. Colorează linkurile LINK în roșu */
a[href="https://www.link-group.eu/"] {
    color: red;
}

/* 3. Alternează culorile în second-div */
#second-div p:nth-child(odd) {
    color: red;
}

#second-div p:nth-child(even) {
    color: blue;
}

/* 4. Adaugă "– NEW" după paragrafele 2 și 3 */
#first-div > p:nth-of-type(1)::after, 
#first-div > p:nth-of-type(2)::after {
    content: " – NEW";
    color: yellow;
}

/* 5. Paragraful 10 de italicizat când cursorul mouse-ului este deasupra lui */
p:nth-child(8):hover {
  font-style: italic;
  cursor:none;
}
